UltraManagerAdmin/CentralAdmin/Connected Services/wcfAnalitica/AnaliticaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="AnaliticaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.137.219:7580/UltraERP_Service/AnaliticaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.137.219:7580/UltraERP_Service/AnaliticaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.137.219:7580/UltraERP_Service/AnaliticaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Analitic.Entities" />
      <xsd:import schemaLocation="http://192.168.137.219:7580/UltraERP_Service/AnaliticaService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAnaliticaService_GetAllGraphics_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGraphics" />
  </wsdl:message>
  <wsdl:message name="IAnaliticaService_GetAllGraphics_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGraphicsResponse" />
  </wsdl:message>
  <wsdl:message name="IAnaliticaService_GetAllAsientos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAsientos" />
  </wsdl:message>
  <wsdl:message name="IAnaliticaService_GetAllAsientos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAsientosResponse" />
  </wsdl:message>
  <wsdl:message name="IAnaliticaService_GetCountRecordAsientosERP_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountRecordAsientosERP" />
  </wsdl:message>
  <wsdl:message name="IAnaliticaService_GetCountRecordAsientosERP_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountRecordAsientosERPResponse" />
  </wsdl:message>
  <wsdl:message name="IAnaliticaService_GetAllDocsERP_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDocsERP" />
  </wsdl:message>
  <wsdl:message name="IAnaliticaService_GetAllDocsERP_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDocsERPResponse" />
  </wsdl:message>
  <wsdl:message name="IAnaliticaService_GetCountRecordDocsERP_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountRecordDocsERP" />
  </wsdl:message>
  <wsdl:message name="IAnaliticaService_GetCountRecordDocsERP_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountRecordDocsERPResponse" />
  </wsdl:message>
  <wsdl:portType name="IAnaliticaService">
    <wsdl:operation name="GetAllGraphics">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnaliticaService/GetAllGraphics" message="tns:IAnaliticaService_GetAllGraphics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnaliticaService/GetAllGraphicsResponse" message="tns:IAnaliticaService_GetAllGraphics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAsientos">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnaliticaService/GetAllAsientos" message="tns:IAnaliticaService_GetAllAsientos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnaliticaService/GetAllAsientosResponse" message="tns:IAnaliticaService_GetAllAsientos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountRecordAsientosERP">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnaliticaService/GetCountRecordAsientosERP" message="tns:IAnaliticaService_GetCountRecordAsientosERP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnaliticaService/GetCountRecordAsientosERPResponse" message="tns:IAnaliticaService_GetCountRecordAsientosERP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDocsERP">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnaliticaService/GetAllDocsERP" message="tns:IAnaliticaService_GetAllDocsERP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnaliticaService/GetAllDocsERPResponse" message="tns:IAnaliticaService_GetAllDocsERP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountRecordDocsERP">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnaliticaService/GetCountRecordDocsERP" message="tns:IAnaliticaService_GetCountRecordDocsERP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnaliticaService/GetCountRecordDocsERPResponse" message="tns:IAnaliticaService_GetCountRecordDocsERP_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAnaliticaService" type="tns:IAnaliticaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllGraphics">
      <soap:operation soapAction="http://tempuri.org/IAnaliticaService/GetAllGraphics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAsientos">
      <soap:operation soapAction="http://tempuri.org/IAnaliticaService/GetAllAsientos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountRecordAsientosERP">
      <soap:operation soapAction="http://tempuri.org/IAnaliticaService/GetCountRecordAsientosERP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDocsERP">
      <soap:operation soapAction="http://tempuri.org/IAnaliticaService/GetAllDocsERP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountRecordDocsERP">
      <soap:operation soapAction="http://tempuri.org/IAnaliticaService/GetCountRecordDocsERP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AnaliticaService">
    <wsdl:port name="BasicHttpBinding_IAnaliticaService" binding="tns:BasicHttpBinding_IAnaliticaService">
      <soap:address location="http://192.168.137.219:7580/UltraERP_Service/AnaliticaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>