UltraManagerAdmin/CentralAdmin/Connected Services/UltraERPServiceClient/UltraERPService54.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49272/UltraERPService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UltraERP.BusinessEntities" />
  <xs:import schemaLocation="http://localhost:49272/UltraERPService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ValueTupleOfEN_Userintav_PxDHhx">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ValueTupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="EN_User" Namespace="http://schemas.datacontract.org/2004/07/UltraERP.BusinessEntities" />
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UltraERP.BusinessEntities" name="Item1" nillable="true" type="q1:EN_User" />
      <xs:element name="Item2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValueTupleOfEN_Userintav_PxDHhx" nillable="true" type="tns:ValueTupleOfEN_Userintav_PxDHhx" />
</xs:schema>